# Recommended for most uses
DATABASE_URL=''

# For uses requiring a connection without pgbouncer
DATABASE_URL_UNPOOLED=''

# Parameters for constructing your own connection string
PGHOST=''
PGHOST_UNPOOLED=''
PGUSER=''
PGDATABASE=''
PGPASSWORD=''

# Parameters for Vercel Postgres Templates
POSTGRES_URL=''
POSTGRES_URL_NON_POOLING=''
POSTGRES_USER=''
POSTGRES_HOST=''
POSTGRES_PASSWORD=''
POSTGRES_DATABASE=''
POSTGRES_URL_NO_SSL=''
POSTGRES_PRISMA_URL=''

# Geo location API
GEO_API_KEY=''

# JWT
JWT_SECRET=''

# S3 Storage
S3_ACCESS_KEY=''
S3_SECRET_KEY=''
S3_BUCKET_NAME=''
S3_ENDPOINT=''

# SMTP
SMTP_HOST=''
SMTP_PORT=''
SMTP_SECURE=''
SMTP_USER=''
SMTP_PASS=''
SMTP_FROM=''

# BASE URL
NEXT_PUBLIC_BASE_URL=''